body {
    background-color: lightyellow;
}

p{
    font-size: 2rem;
    font-weight: bold;
    color: green;
    border: 210px solid red;
    background-color: teal;
}



ul li{
    background-color: blue;
    text-transform: lowercase;
}